@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
[class~="logo"] {
    background-image: url("logo.png");
}
[class~="logo"] {
    background-repeat: no-repeat;
}
[class~="lines"],
[class~="logo"] {
    background-color: white;
}
[class~="logo"] {
    background-size: 100%;
}
[class~="logo"] {
    width: 7.3125pc;
}
[class~="logo"] {
    height: 45px;
}
[class~="logo"] {
    margin-left: 0.083333333in;
}
[class~="input"],
[class~="logo"] {
    border-radius: 0.072916667in;
}
[class~="h1"],
[class~="input"] {
    font-family: Montserrat;
}
[class~="h1"] {
    color: #f3f3f3;
}
[class~="h1"] {
    font-size: 1.6875pc;
}
[class~="button"]:hover {
    background-color: #08305c;
}
[class~="input"] {
    width: 2.083333333in;
}
[class~="input"] {
    height: 22.5pt;
}
[class~="input"] {
    margin-right: 6pt;
}
[class~="input"] {
    padding-left: 8px;
}
body,
html {
    -webkit-tap-highlight-color: transparent;
}
[class~="clear-button"]:hover {
    border-left-width: 0.020833333in;
}
[class~="hamburger"] {
    display: none;
}
[class~="clear-button"]:hover {
    border-bottom-width: 0.020833333in;
}
[class~="lines"] {
    width: 22.5pt;
}
[class~="lines"] {
    height: 0.1875pc;
}
[class~="lines"] {
    margin-left: 0.1875pc;
}
[class~="lines"] {
    margin-bottom: 2.25pt;
}
[class~="lines"] {
    margin-right: 0.1875pc;
}
[class~="lines"] {
    margin-top: 2.25pt;
}
[class~="container"] {
    display: flex;
}
[class~="container"] {
    flex-wrap: wrap;
}
[class~="container"] {
    margin-left: 7.5pt;
}
[class~="container"] {
    margin-bottom: 7.5pt;
}
[class~="container"] {
    margin-right: 7.5pt;
}
[class~="container"] {
    margin-top: 7.5pt;
}
[class~="container"] {
    justify-content: center;
}
.box {
    border-left-width: 0.00625pc;
}
* {
    margin-left: 0;
}
.box {
    border-bottom-width: 0.00625pc;
}
.box {
    border-right-width: 0.00625pc;
}
html,
body {
    user-select: none;
}
[class~="clear-button"]:hover {
    border-right-width: 0.020833333in;
}
.box {
    border-top-width: 0.00625pc;
}
[class~="clear-button"]:hover {
    border-top-width: 0.020833333in;
}
[class~="clear-button"]:hover,
.box {
    border-left-style: solid;
}
.box,
[class~="clear-button"]:hover {
    border-bottom-style: solid;
}
body,
html {
    touch-action: manipulation;
}
[class~="clear-button"]:hover,
.box {
    border-right-style: solid;
}
.box {
    border-top-style: solid;
}
.box {
    border-left-color: #d4d4d4;
}
.box {
    border-bottom-color: #d4d4d4;
}
.box {
    border-right-color: #d4d4d4;
}
.box {
    border-top-color: #d4d4d4;
}
.box {
    border-image: none;
}
.box {
    padding-left: 0.625pc;
}
.h2,
.box {
    padding-bottom: 0.625pc;
}
.box {
    padding-right: 0.625pc;
}
.box {
    padding-top: 0.625pc;
}
.box {
    margin-top: 1.5625pc;
}
.box {
    margin-left: 0.333333333in;
}
* {
    margin-bottom: 0;
}
.box {
    width: 300px;
}
.box {
    height: 11.875pc;
}
.box {
    border-radius: 0.0625in;
}
.content {
    margin-left: 1.125pc;
}
.content {
    margin-bottom: 1.125pc;
}
.content {
    margin-right: 1.125pc;
}
.content {
    margin-top: 1.125pc;
}
.h2 {
    background-color: #f7f7f7;
}
.button,
.h2 {
    border-radius: 6pt;
}
.h2 {
    padding-left: 14.25pt;
}
* {
    margin-right: 0;
}
.h2 {
    padding-right: 15pt;
}
.h2 {
    padding-top: 11px;
}
.h2 {
    margin-left: -0.291666667in;
}
.h2 {
    margin-bottom: 36px;
}
.h2 {
    margin-right: -21pt;
}
.h2 {
    margin-top: -1.75pc;
}
.h2 {
    font-size: 1.4375pc;
}
[class~="p-time"],
[class~="p"],
[class~="message"],
[class~="footer"],
.button,
.h2 {
    text-align: center;
}
.h2 {
    font-family: "Open Sans", sans-serif;
}
.h2 {
    font-weight: 500;
}
[class~="p-time"] {
    font-family: sans-serif;
}
[class~="p-time"] {
    font-size: 22.5pt;
}
[class~="p-time"] {
    padding-left: 0in;
}
[class~="p-time"] {
    padding-bottom: 0pc;
}
[class~="p-time"] {
    padding-right: 0pt;
}
[class~="p-time"] {
    padding-top: 1.5pt;
}
[class~="p-time"] {
    margin-left: 0in;
}
* {
    margin-top: 0;
}
[class~="p-time"] {
    margin-bottom: 0px;
}
[class~="message"],
[class~="p-time"] {
    margin-right: 0pt;
}
[class~="p-time"] {
    margin-top: 13.5pt;
}
[class~="p"] {
    font-family: "Ubuntu", sans-serif;
}
[class~="p"] {
    font-size: 18px;
}
[class~="clear-button"]:hover {
    border-top-style: solid;
}
.button {
    background-color: #15508f;
}
[class~="footer"],
.button {
    color: white;
}
.button {
    padding-left: 13px;
}
.button {
    padding-bottom: 9pt;
}
[class~="clear-button"]:hover {
    border-left-color: #d4d4d4;
}
[class~="clear-button"]:hover {
    border-bottom-color: #d4d4d4;
}
.button,
body,
[class~="footer"],
[class~="clear-button"] {
    cursor: pointer;
}
* {
    padding-left: 0;
}
.button {
    padding-right: 0.135416667in;
}
.button {
    padding-top: 0.75pc;
}
.button,
[class~="footer"] {
    margin-top: 1.625pc;
}
.button {
    margin-left: -0.75pc;
}
.button {
    width: 18pc;
}
[class~="clear-button"]:hover {
    border-right-color: #d4d4d4;
}
[class~="message"],
[class~="footer"] {
    font-family: Montserrat;
}
[class~="footer"] {
    font-size: 0.9375pc;
}
[class~="footer"] {
    background: #15508f;
}
[class~="clear-button"]:hover {
    border-top-color: #d4d4d4;
}
[class~="footer"] {
    height: 0.666666667in;
}
[class~="footer"] {
    padding-top: 9px;
}
[class~="footer"] {
    padding-left: 3px;
}
[class~="clear-button"]:hover {
    border-image: none;
}
body {
    overflow-y: scroll;
}
[class~="message"] {
    font-size: 16px;
}
[class~="message"] {
    margin-left: 0px;
}
[class~="message"] {
    margin-bottom: -0.135416667in;
}
[class~="message"] {
    margin-top: 0.239583333in;
}
[class~="clear-button"] {
    background-color: transparent;
}
[class~="clear-button"] {
    border-left-width: medium;
}
* {
    padding-bottom: 0;
}
[class~="clear-button"] {
    border-bottom-width: medium;
}
[class~="clear-button"] {
    border-right-width: medium;
}
body {
    overflow-x: hidden;
}
[class~="clear-button"] {
    border-top-width: medium;
}
[class~="clear-button"] {
    border-left-style: none;
}
[class~="clear-button"] {
    border-bottom-style: none;
}
[class~="clear-button"] {
    border-right-style: none;
}
[class~="clear-button"] {
    border-top-style: none;
}
[class~="clear-button"] {
    border-left-color: transparent;
}
[class~="clear-button"] {
    border-bottom-color: transparent;
}
[class~="clear-button"]:hover {
    background: #d4d4d4;
}
[class~="clear-button"] {
    border-right-color: transparent;
}
[class~="clear-button"]:hover,
[class~="clear-button"] {
    border-radius: 0.291666667in;
}
[class~="clear-button"]:hover,
[class~="clear-button"] {
    padding-left: 0.25pc;
}
header {
    background-color: #15508f;
}
[class~="clear-button"] {
    border-top-color: transparent;
}
* {
    padding-right: 0;
}
[class~="clear-button"] {
    border-image: none;
}
[class~="clear-button"]:hover,
[class~="clear-button"] {
    padding-bottom: 0pc;
}
[class~="clear-button"]:hover,
[class~="clear-button"] {
    padding-right: 0.041666667in;
}
[class~="clear-button"]:hover,
[class~="clear-button"] {
    padding-top: 0pt;
}
[class~="clear-button"] {
    margin-left: -0.354166667in;
}
[class~="clear-button"] {
    margin-bottom: 0pt;
}
[class~="clear-button"] {
    margin-right: 0.25pc;
}
[class~="clear-button"] {
    margin-top: 0.5625pc;
}
[class~="clear-button"] {
    position: absolute;
}
header {
    display: flex;
}
* {
    padding-top: 0;
}
header {
    justify-content: space-between;
}
header {
    align-items: center;
}
header {
    height: 0.572916667in;
}
[class~="clear-button"]:hover {
    cursor: pointer;
}
header {
    position: sticky;
}
header {
    top: 0;
}
